---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
---

<Layout title="Randy Ochoa Nuñez">
	<Header />
	<p>Redes sociales</p>
	<p>Proyectos</p> 
	<p>Tecnologias</p>
</Layout>
