---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Randy Ochoa Nuñez">
	<Header />
	<Projects />

	<p>Tecnologias</p>
	<p>Que mas puedo Agregar?</p>
</Layout>
