---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Proyectos from "@/components/Proyectos.astro";
import Tecnologias from "@/components/Tecnologias.astro";
---

<Layout title="Randy Ochoa Nuñez">
  <Header />
  <main>
    <Tecnologias />
    <Proyectos />
    <p>Tecnologias</p>
    <p>Que mas puedo Agregar?</p>
  </main>
</Layout>
