---
import IconContact from "@/Icons/IconContact.astro";
import BotonesContacto from "./BotonesContacto.astro";

const { i18n } = Astro.props;
---

<footer id={i18n.SECTION_NAVBAR.CONTACT}>
  <h2>
    <IconContact width="40" height="40" />
    {i18n.SECTION_CONTACT.TITLE}
  </h2>

  <article class="informacion">
    <p>
      {i18n.SECTION_CONTACT.TEXT}
    </p>

    <BotonesContacto i18n={i18n} clase="botones-dos" />
  </article>
</footer>

<style>
  * {
    color: var(--background-color);
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .informacion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    padding: 20px;
    border: 3px solid var(--color-primario);
    border-radius: 12px;

    @media (width <= 600px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    p {
      font-weight: 500;
      line-height: 1.5;
      color: var(--texto-color);
      max-width: 65ch;
    }
  }

  h2 {
    color: var(--texto-color);

    path {
      color: var(--texto-color);
    }
  }
</style>
