---
import IconGithub from "../Icons/IconGithub.astro";
import IconLinkedin from "../Icons/IconLinkedin.astro";
import IconFile from "../Icons/IconFile.astro";
---

<header class="flex justify-center items-center min-h-screen">
  <section class="flex flex-col gap-6">
    <h1 class="flex flex-col text-4xl font-bold bg-gradient-to-br from-custom-three to-custom-one dark:to-custom-two text-transparent bg-clip-text sm:text-5xl">
      Randy Ochoa Nuñez
      <span class="text-2xl sm:text-3xl"> Frontend Developer </span>
    </h1>

    <div class="flex flex-col justify-between gap-3 sm:flex-row">      
      <a class="button gap-1" target="_blank" href="https://github.com/SoyRandy708">
        <IconGithub width="25" height="25" />
        GitHub
      </a>
  
      <a class="button" target="_blank" href="https://www.linkedin.com/in/randy-ochoa/">
        <IconLinkedin width="30" height="30" />
        LinkedIn 
      </a>
  
      <a class="button" target="_blank" download href="/CV_Randy-Ochoa_Frontend-Developer.pdf">
        <IconFile width="30" height="30" />
        Descarga CV
      </a>
    </div>
  </section>
</header>