---
import IconMenu from "@/Icons/IconMenu.astro";
import IconClose from "@/Icons/IconClose.astro";
---

<nav>
  <div class="nav-mobile">
    <a href="#sobre-mi" class="boton-uno">Randy</a>

    <div class="iconos">
      <div class="icon">
        <IconMenu width="38" height="38" />
      </div>
      <div class="icon mobile">
        <IconClose width="38" height="38" />
      </div>
    </div>
  </div>

  <ul class="menu mobile boton-uno">
    <li>
      <a href="#sobre-mi">Sobre mi</a>
    </li>

    <li>
      <a href="#proyectos">Proyectos</a>
    </li>

    <li>
      <a href="#contacto">Contacto</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 876px;
    width: calc(100% - 56px);
    min-height: 42px;
    margin: auto;
    border-radius: 8px;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 16px 12px;
    box-shadow: 0 0 25px rgb(0 0 0 / 0.15);
    background-color: var(--color-primario);
    transition: transform 0.3s ease;

    @media (width > 600px) {
      flex-direction: row;
    }
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
  }

  .iconos {
    display: flex;
    justify-content: end;

    @media (width > 600px) {
      display: none;
    }

    path {
      color: var(--background-color);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    max-width: 900px;
    padding: 32px 0px 0px;
    margin: 0;

    @media (width > 600px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 16px;
      max-width: 600px;
    }

    & li a {
      display: block;
    }
  }

  .mobile {
    @media (width < 600px) {
      display: none;
    }
  }

  .ocultar {
    transform: translateY(-100px);
  }
</style>

<script>
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const buttons = document.querySelectorAll(".icon");
  const menuItems = document.querySelectorAll(".menu li");

  let isMenuOpen = false;
  let lastScrollTop = 0;

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      isMenuOpen = !isMenuOpen;
      if (isMenuOpen) {
        menu.classList.remove("mobile");
      } else {
        menu.classList.add("mobile");
      }

      buttons.forEach((button) => {
        button.classList.toggle("mobile");
      });
    });
  });

  menuItems.forEach((item) => {
    item.addEventListener("click", () => {
      isMenuOpen = false;
      menu.classList.add("mobile");

      buttons.forEach((button) => {
        button.classList.toggle("mobile");
      });
    });
  });

  window.addEventListener("scroll", () => {
    let scrollTop = document.documentElement.scrollTop;

    if (scrollTop > lastScrollTop) {
      nav.classList.add("ocultar");

      if (isMenuOpen) {
        isMenuOpen = !isMenuOpen;

        menu.classList.add("mobile");
        buttons.forEach((button) => {
          button.classList.toggle("mobile");
        });
      }
    } else {
      nav.classList.remove("ocultar");
    }

    lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
  });
</script>
