---
import IconMenu from "@/Icons/IconMenu.astro";
import IconClose from "@/Icons/IconClose.astro";
---

<nav>
  <div class="iconos">
    <div class="icon">
      <IconMenu width="38" height="38" />
    </div>
    <div class="icon esconder">
      <IconClose width="38" height="38" />
    </div>
  </div>

  <ul class="menu esconder">
    <li>
      <a href="#sobre-mi"> Sobre mi</a>
    </li>

    <li>
      <a href="#proyectos"> Proyectos</a>
    </li>

    <li>
      <a href="#"> Redes sociales</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 16px 12px;
    background-color: purple;
  }

  .iconos {
    display: flex;
    justify-content: end;

    @media (width > 600px) {
      display: none;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    max-width: 900px;
    padding: 32px 16px 0px;

    @media (width > 600px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 16px;
      max-width: 600px;
    }

    & li a {
      display: block;
    }
  }

  .esconder {
    @media (width < 600px) {
      display: none;
    }
  }
</style>

<script>
  let isMenuOpen = false;
  const buttons = document.querySelectorAll(".icon");
  const menu = document.querySelector(".menu");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      isMenuOpen = !isMenuOpen;
      if (isMenuOpen) {
        menu.classList.remove("esconder");
      } else {
        menu.classList.add("esconder");
      }

      buttons.forEach((button) => {
        button.classList.toggle("esconder");
      });
    });
  });
</script>
