---
import IconMenu from "@/Icons/IconMenu.astro";
import IconClose from "@/Icons/IconClose.astro";
---

<nav>
  <div class="nav-mobile">
    <a href="#sobre-mi" class="boton-uno">Randy</a>

    <div class="iconos">
      <div class="icon">
        <IconMenu width="38" height="38" />
      </div>
      <div class="icon esconder">
        <IconClose width="38" height="38" />
      </div>
    </div>
  </div>

  <ul class="menu esconder boton-uno">
    <li>
      <a href="#sobre-mi"> Sobre mi</a>
    </li>

    <li>
      <a href="#proyectos"> Proyectos</a>
    </li>

    <li>
      <a href="#"> Redes sociales</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 876px;
    width: calc(100% - 56px);
    min-height: 42px;
    margin: auto;
    border-radius: 8px;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 16px 12px;
    box-shadow: 0 25px 25px rgb(0 0 0 / 0.15);
    background-color: var(--color-primario);

    @media (width > 600px) {
      flex-direction: row;
    }
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
  }

  .iconos {
    display: flex;
    justify-content: end;

    @media (width > 600px) {
      display: none;
    }

    path {
      color: var(--background-color);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    max-width: 900px;
    padding: 32px 0px 0px;
    margin: 0;

    @media (width > 600px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 16px;
      max-width: 600px;
    }

    & li a {
      display: block;
    }
  }

  .esconder {
    @media (width < 600px) {
      display: none;
    }
  }
</style>

<script>
  let isMenuOpen = false;
  const buttons = document.querySelectorAll(".icon");
  const menu = document.querySelector(".menu");
  const menuItems = document.querySelectorAll(".menu li");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      isMenuOpen = !isMenuOpen;
      if (isMenuOpen) {
        menu.classList.remove("esconder");
      } else {
        menu.classList.add("esconder");
      }

      buttons.forEach((button) => {
        button.classList.toggle("esconder");
      });
    });
  });

  menuItems.forEach((item) => {
    item.addEventListener("click", () => {
      isMenuOpen = false;
      menu.classList.add("esconder");

      buttons.forEach((button) => {
        button.classList.toggle("esconder");
      });
    });
  });
</script>
