---
import IconMenu from "../Icons/IconMenu.astro"
import IconClose from "../Icons/IconClose.astro"
---

<nav class="flex flex-col fixed top-0 left-0 right-0 px-4 py-2 bg-[var(--fourth-color)] sm:py-4">
  <div class="self-end sm:hidden">
    <div class="nuevo">
      <IconMenu width="40" height="40" class="nuevo"/>
    </div>
    <div class="nuevo hidden">
      <IconClose width="40" height="40" />
    </div>
  </div>
  
  <ul class="menu hidden flex-col gap-5 justify-evenly w-full max-w-3xl m-auto sm:flex sm:flex-row">
    <li>
      <a href="">
      Sobre mi
      </a>
    </li>

    <li>
      <a href="">
        Proyectos
      </a>
    </li>

    <li>
      <a href="">
        Redes sociales
      </a>
    </li>
  </ul>
</nav>

<script>  
  let isMenuOpen = false
  const bottons = document.querySelectorAll(".nuevo")
  const menu = document.querySelector(".menu")

  bottons.forEach(button => {
    button.addEventListener("click", () => {
      isMenuOpen = !isMenuOpen
      if(isMenuOpen) {
        menu.classList.remove("hidden")
        menu.classList.add("flex")
      } else {
        menu.classList.add("hidden")
        menu.classList.remove("flex")
      }
      
      bottons.forEach(button => {
        button.classList.toggle("hidden")
      })
    })
  })
</script>