---
import { TODAS_TECNOLOGIAS, TECNOLOGIAS_ICONOS } from "@/consts";
import IconTecnologias from "@/Icons/IconTecnologias.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<article>
  <h2>
    <IconTecnologias width="40" height="40" />
    {i18n.SECTION_TECHNOLOGIES.TITLE}
  </h2>

  <ul class="icons-container">
    {
      TODAS_TECNOLOGIAS.map((tecnologia) => {
        const Icon = TECNOLOGIAS_ICONOS[tecnologia.icono];

        return (
          <li
            class="icon-container"
            style={{ "--background-dif": tecnologia.color }}
          >
            <Icon class="icon" width="50" height="50" />
            <span class="tooltip"> {tecnologia.nombre} </span>
          </li>
        );
      })
    }
  </ul>
</article>

<style>
  article {
    padding: 100px 0;
  }

  .icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
</style>
