---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-primario: #acff27;
    --background-color: #2f3232;
    --texto-color: #f0f0f0;
  }

  * {
    user-select: none;
    list-style: none;
    font-family: system-ui, sans-serifs;
    color: var(--texto-color);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
    background-color: var(--background-color);
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  .boton-uno a,
  a.boton-uno {
    background-color: var(--background-color);
    color: var(--color-primario);

    path {
      color: var(--color-primario);
    }
  }

  .boton-dos a,
  a.boton-dos {
    background-color: var(--color-primario);
    color: var(--background-color);

    path {
      color: var(--background-color);
    }
  }
</style>
