---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" /> 
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main class="max-w-4xl m-auto">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--primary-color: #e6e6f0;
		--secundary-color: #07090d;
		--tertiary-color: rgba(57, 162, 223, 1);
		--fourth-color: rgba(57, 162, 223, .5);
	}
	
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--primary-color);
		color: var(--secundary-color);
	}
	
	@media (prefers-color-scheme: dark) {
		:root {
			--primary-color: #07090d;
			--secundary-color: #e6e6f0;
			--tertiary-color: rgba(57, 162, 223, 1);
			--fourth-color: rgba(57, 162, 223, .5);
		}
  }
</style>
